.CodeMirror-scroll{
  background: #242529;
}


.CodeMirror-gutters{
  background: #242529 !important;
}

.CodeMirror{
  height: 340px !important;
  color: aliceblue;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 15px;
  /* padding: 3px; */
  width: 300px;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #062379;
}





